@-webkit-keyframes laneScroll { 
    0% { 
        -webkit-transform: translateY(0px); 
    } 
    100% { 
         -webkit-transform: translateY(-580px); 
    } 
}
@keyframes laneScroll { 
    0% { 
        transform: translateY(0px); 
    } 
    100% { 
         transform: translateY(-580px); 
    } 
} 
@-o-keyframes laneScroll { 
    0% { 
        -o-transform: translateY(0px); 
    } 
    100% { 
         -o-transform: translateY(-580px); 
    } 
} 
@-ms-keyframes laneScroll { 
    0% { 
        -ms-transform: translateY(0px); 
    } 
    100% { 
         -ms-transform: translateY(-580px); 
    } 
} 
@-moz-keyframes laneScroll { 
    0% { 
        -moz-transform: translateY(0px); 
    } 
    100% { 
         -moz-transform: translateY(-580px); 
    } 
} 


/***********************************/

body{
    margin: 0px;
}

.container-drivein{
    width: 100%;
    position: relative;
    height: 600px;
    background-color: azure;
    margin: 0px;
}

.drivein{
    position: absolute;
    width: 100%;
    height: 600px;
    margin: 0px;
    background-color:darkgrey;
    background-image: url(img/asfalto.jpg);
    background-size: cover;
    background-repeat:repeat-y;
    overflow-y:hidden;
    text-align: center;
    min-width: 100%;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drivein-opacita{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top , left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#0d000000',GradientType=1 ); /* IE6-9 */
}

.car-lane{
    min-width: 700px;
    width: 100%;
    height: 125px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 610px;
    background-color:transparent;
    left: 0px;
    text-align: center;
    display: block;
    //overflow: hidden;
    
    -webkit-animation-name: laneScroll;
    -o-animation-name: laneScroll;
    -moz-animation-name: laneScroll;
    -ms-animation-name: laneScroll; 
    animation-name: laneScroll;    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
}

.car-lane:nth-child(2){ -webkit-animation-delay: 0.5s;animation-delay: 0.5s; -o-animation-delay: 0.5s;-ms-animation-delay: 0.5s;-moz-animation-delay: 0.5s;}
.car-lane:nth-child(3){ -webkit-animation-delay: 1s;animation-delay: 1s; -o-animation-delay: 1s;-ms-animation-delay: 1s;-moz-animation-delay: 1s;}
.car-lane:nth-child(4){ -webkit-animation-delay: 1.5s;animation-delay: 1.5s; -o-animation-delay: 1.5s;-ms-animation-delay: 1.5s;-moz-animation-delay: 1.5s;}
.car-lane:nth-child(5){ -webkit-animation-delay: 2s;animation-delay: 2s; -o-animation-delay: 2s;-ms-animation-delay: 2s;-moz-animation-delay: 2s;}

.car{
    width: 60px;
    height: 100px;
    background-image: url(img/car3.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 10px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    cursor:default;
    
     -webkit-filter:drop-shadow(2px 2px 3px black) hue-rotate(0deg) brightness(1.0);
     filter:drop-shadow(2px 2px 3px black) hue-rotate(0deg) brightness(1.0);
}

.sedileR{
    position: absolute;
    top: 52px;
    left: 37px;
    width: 17px;
    height: 20px;
    background-image: url(img/sedileR.PNG);
    background-repeat: no-repeat;
    background-size: contain;
}


.sedileL{
    position: absolute;
    top: 52px;
    left: 15px;
    width: 17px;
    height: 20px;
    background-image: url(img/sedileL.PNG);
    background-repeat: no-repeat;
    background-size: contain;
}

.prenotato{
    -webkit-filter: hue-rotate(251deg) brightness(1.3); 
    filter: hue-rotate(251deg) brightness(1.3);
    
}

.locked{
    -webkit-filter: hue-rotate(181deg) brightness(1.3); 
    filter: hue-rotate(181deg) brightness(1.3);
    
}

.taken{
    -webkit-filter: hue-rotate(143deg) brightness(1.1); 
    filter: hue-rotate(143deg) brightness(1.1);
}
