body{
    margin: 0px;
    background-color: black;
    min-width: 650px;
}

/*header{
    width: 100%;
    height: 80px;
    z-index: 3;
    background-color: black;
}*/

/*.logo{
    background-image: url(../CineScritta.png);
    position: absolute;
    top: 10px;
    left: 5%;
    width: 300px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}*/

.container{
    width: 100%;
    //height: 100%;
    position: relative;
    display: block;
}

.info{
    width: 50%;
    position: relative;
    top:-20px;
    color: whitesmoke;
    float: left;
    margin-left: 50px;
}

.container-locandina{
    position: absolute;
    min-width: 100%;
    margin-left: 15%;
}

.title{
    color: darkorange;
    font-size: 38px;
}

.info table{
    color: whitesmoke;
    font-size: 20px;
    margin-top: -40px;
}

.generic{
    color: orange;
    font-weight: 600;
    padding-right:30px;
}

.filtro{
    position: relative;
    width: 100%;
    //margin-bottom: -300px;
    
    //height: 100%;

background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(50%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-9 */

}

.locandina{
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    color: whitesmoke;
    overflow: hidden;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,0d0e0f+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(0,0,0,1) 0%, rgba(13,14,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(13,14,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(13,14,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(13,14,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(13,14,15,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(0,0,0,1) 0%,rgba(13,14,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d0e0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    z-index: 2;
}

.cover{
    position: relative;
    height: 260px;
    top: 20px;
    float: left;
}

.descrizione{
    position: relative;
    //padding-bottom: -300px;
    //top: 300px;
    height: auto;
    display: block;
    width: 100%;
    color: whitesmoke;
    font-size:24px;
    //background-image: url("sfondi/ted2.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.txt{
    position: relative;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: whitesmoke;
    z-index: 2;
    display: block;
    margin-bottom: -300px;
}

.prenota-btn{
    position: relative;
    top: 20px;
    //left: 12%;
    left: 0px;
    
    background: #fc7f12;
    background-image: -webkit-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: -moz-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: -ms-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: -o-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: linear-gradient(to bottom, #fc7f12, #d44b1a);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
}

.prenota-btn:hover{
    color: white;
    background: #d44b1a;
    background-image: -webkit-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: -moz-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: -ms-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: -o-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: linear-gradient(to bottom, #d44b1a, #fc7f12);
    text-decoration: none;
}


footer{
    background-color: black;
    color:white;
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    top: 300px;
}

.form{
display:block;
}


header{
    background-color: black;
    height:100px;
    margin-bottom: 0px;
    <!-- display: inline; -->
    min-width: 700px;
    width: 100%;
    display: table;
}

.container-logo{
    display: table-cell;
    width: 80%;
    position: relative;
    
}

.a_logo{
    position: relative;
    padding-right: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}

.logo{
    height: 60px;
    top: 15px;
    margin-top: 20px;
    margin-left: 10px;
    background-image: url(../img/CineScritta.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#btnAccedi{   <!-- background in stylegradienti -->
    display: table-cell;
    width: 140px;
    //height: 30px;
    position: relative;
    top: 15px;
    margin-right: 20px;
    //left: 12%;
    //float: left;
    //right: 10px;
      box-sizing: border-box;

    
    background: #fc7f12;
    background-image: -webkit-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: -moz-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: -ms-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: -o-linear-gradient(top, #fc7f12, #d44b1a);
    background-image: linear-gradient(to bottom, #fc7f12, #d44b1a);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
}

#btnAccedi:hover{
    color: #ffffff;
    background: #d44b1a;
    background-image: -webkit-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: -moz-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: -ms-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: -o-linear-gradient(top, #d44b1a, #fc7f12);
    background-image: linear-gradient(to bottom, #d44b1a, #fc7f12);
    text-decoration: none;
}