.btnAccedi{
    background: -moz-linear-gradient(top, #FB8C37 0%, #F8A425 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FB8C37), color-stop(100%,#F8A425)); 
    background: -webkit-linear-gradient(top, #FB8C37 0%,#F8A425 100%); 
    background: -o-linear-gradient(top, #FB8C37 0%,#F8A425 100%); 
    background: -ms-linear-gradient(top, #FB8C37 0%,#F8A425 100%); 
    background: linear-gradient(to bottom, #FB8C37 0%,#F8A425 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB8C37',  endColorstr='#F8A425', GradientType=0 ); 
}

.btnLogout{
    background: -moz-linear-gradient(top, #FB8C37 0%, #F8A425 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FB8C37), color-stop(100%,#F8A425)); 
    background: -webkit-linear-gradient(top, #FB8C37 0%,#F8A425 100%); 
    background: -o-linear-gradient(top, #FB8C37 0%,#F8A425 100%); 
    background: -ms-linear-gradient(top, #FB8C37 0%,#F8A425 100%); 
    background: linear-gradient(to bottom, #FB8C37 0%,#F8A425 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB8C37',  endColorstr='#F8A425', GradientType=0 ); 
}

#containTabPrezzi{  
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54c128+0,52b152+24,20776a+76,005975+100 */
    background: #54c128; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #54c128 0%, #52b152 24%, #20776a 76%, #005975 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#54c128), color-stop(24%,#52b152), color-stop(76%,#20776a), color-stop(100%,#005975)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #54c128 0%,#52b152 24%,#20776a 76%,#005975 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #54c128 0%,#52b152 24%,#20776a 76%,#005975 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #54c128 0%,#52b152 24%,#20776a 76%,#005975 100%); /* IE10+ */
    background: linear-gradient(45deg,  #54c128 0%,#52b152 24%,#20776a 76%,#005975 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c128', endColorstr='#005975',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#containTabInfo{   // background in stylegradienti -->
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdb1a+0,eef473+25,ce5f1e+69,ce0000+100 */
    background: #dbdb1a; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #dbdb1a 0%, #eef473 25%, #ce5f1e 69%, #ce0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#dbdb1a), color-stop(25%,#eef473), color-stop(69%,#ce5f1e), color-stop(100%,#ce0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #dbdb1a 0%,#eef473 25%,#ce5f1e 69%,#ce0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #dbdb1a 0%,#eef473 25%,#ce5f1e 69%,#ce0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #dbdb1a 0%,#eef473 25%,#ce5f1e 69%,#ce0000 100%); /* IE10+ */
    background: linear-gradient(45deg,  #dbdb1a 0%,#eef473 25%,#ce5f1e 69%,#ce0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdb1a', endColorstr='#ce0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#containTabOrariContatti{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcff+19,f9fcff+19,f9fcff+23,98bede+100 */
    background: #f9fcff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #f9fcff 19%, #f9fcff 19%, #f9fcff 23%, #98bede 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(19%,#f9fcff), color-stop(19%,#f9fcff), color-stop(23%,#f9fcff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #f9fcff 19%,#f9fcff 19%,#f9fcff 23%,#98bede 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #f9fcff 19%,#f9fcff 19%,#f9fcff 23%,#98bede 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #f9fcff 19%,#f9fcff 19%,#f9fcff 23%,#98bede 100%); /* IE10+ */
    background: linear-gradient(45deg,  #f9fcff 19%,#f9fcff 19%,#f9fcff 23%,#98bede 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcff', endColorstr='#98bede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#containTabSale{   // background in stylegradienti -->
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,ea2803+43,ea2803+43,e86c57+50,ff6600+75,c72200+100 */
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #f3c5bd 0%, #ea2803 43%, #ea2803 43%, #e86c57 50%, #ff6600 75%, #c72200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f3c5bd), color-stop(43%,#ea2803), color-stop(43%,#ea2803), color-stop(50%,#e86c57), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #f3c5bd 0%,#ea2803 43%,#ea2803 43%,#e86c57 50%,#ff6600 75%,#c72200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #f3c5bd 0%,#ea2803 43%,#ea2803 43%,#e86c57 50%,#ff6600 75%,#c72200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #f3c5bd 0%,#ea2803 43%,#ea2803 43%,#e86c57 50%,#ff6600 75%,#c72200 100%); /* IE10+ */
    background: linear-gradient(45deg,  #f3c5bd 0%,#ea2803 43%,#ea2803 43%,#e86c57 50%,#ff6600 75%,#c72200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#containTabPreview{ // background in stylegradienti -->
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
    background: #cedbe9; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#cedbe9), color-stop(17%,#aac5de), color-stop(50%,#6199c7), color-stop(51%,#3a84c3), color-stop(59%,#419ad6), color-stop(71%,#4bb8f0), color-stop(84%,#3a8bc2), color-stop(100%,#26558b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* IE10+ */
    background: linear-gradient(45deg,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}