@-webkit-keyframes laneScroll { 
    0% { 
        -webkit-transform: scale(0.2);
    } 
    100% { 
        -webkit-transform: scale(1);
    } 
}

@-webkit-keyframes belt { 
    0% { 
        -webkit-transform: scale(0.6);
    } 
    100% { 
        -webkit-transform: scale(1) rotate(+=32deg);
    } 
}

/*********************************************************/

body{
    margin: 0px;
}

.container-pool{
    width: 100%;
    position: relative;
    height: 600px;
    background-color: azure;
    margin: 0px;
}

.swimPool{
    position: absolute;
    width: 100%;
    height: 600px;
    margin: 0px;
   // background-color:darkgrey;
   // background-image: url(img/asfalto.jpg);
    background-size: cover;
    background-repeat:repeat-y;
    overflow-y:hidden;
    text-align: center;
    min-width: 100%;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.row-pool{
    min-width: 700px;
    width: 100%;
    height: 125px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 610px;
    background-color:transparent;
    left: 0px;
    text-align: center;
    display: block;
    //overflow: hidden;
}*/

.pool{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    position: relative;
    
    box-shadow: 0px -4px 16px 0px #99A3AD, 0px 0px 40px #EEEEEE; 
}

.pool-l1{
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0px;
    top: -5px;
    background-color: transparent;
    border-color: #52C5FF;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    //border: 10px solid aqua;
}

.pool-l2{
    position: absolute;
    height: 90px;
    width: 90px;
    left: 4px;
    top: 0px;
    background-color: transparent;
    border-color: #70E3FF;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    //border: 10px solid aqua;
}

.pool-l3{
    position: absolute;
    height: 88px;
    width: 88px;
    left: 4px;
    top: 0px;
    background-color: transparent;
    border-color: #42B5EF;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    //border: 10px solid aqua;
}
.pool-l4{
    position: absolute;
    height: 86px;
    width: 86px;
    left: 5px;
    top: 0px;
    background-color: transparent;
    border-color: #59CCFF;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    //border: 10px solid aqua;
}

.water{
    position: absolute;
    left: 7px;
    top:3px;
    width: 95px;
    height: 95px;
    //background-image: url(img/water2.png);
    //background-size: contain;
    //background-color: rgba(220,220,230,0.4);
    border-radius: 50%;
        
    -webkit-animation-name: laneScroll;
    -o-animation-name: laneScroll;
    -moz-animation-name: laneScroll;
    -ms-animation-name: laneScroll; 
    animation-name: laneScroll;    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.22, 0, .88, 1);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    
    
    background: -moz-linear-gradient(top, rgba(225,255,255,0.31) 0%, rgba(225,255,255,0.31) 7%, rgba(253,255,255,0.31) 12%, rgba(230,248,253,0.31) 30%, rgba(200,238,251,0.31) 54%, rgba(190,228,248,0.31) 75%, rgba(177,216,245,0.31) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,0.31)), color-stop(7%,rgba(225,255,255,0.31)), color-stop(12%,rgba(253,255,255,0.31)), color-stop(30%,rgba(230,248,253,0.31)), color-stop(54%,rgba(200,238,251,0.31)), color-stop(75%,rgba(190,228,248,0.31)), color-stop(100%,rgba(177,216,245,0.31))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(225,255,255,0.31) 0%,rgba(225,255,255,0.31) 7%,rgba(253,255,255,0.31) 12%,rgba(230,248,253,0.31) 30%,rgba(200,238,251,0.31) 54%,rgba(190,228,248,0.31) 75%,rgba(177,216,245,0.31) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(225,255,255,0.31) 0%,rgba(225,255,255,0.31) 7%,rgba(253,255,255,0.31) 12%,rgba(230,248,253,0.31) 30%,rgba(200,238,251,0.31) 54%,rgba(190,228,248,0.31) 75%,rgba(177,216,245,0.31) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(225,255,255,0.31) 0%,rgba(225,255,255,0.31) 7%,rgba(253,255,255,0.31) 12%,rgba(230,248,253,0.31) 30%,rgba(200,238,251,0.31) 54%,rgba(190,228,248,0.31) 75%,rgba(177,216,245,0.31) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(225,255,255,0.31) 0%,rgba(225,255,255,0.31) 7%,rgba(253,255,255,0.31) 12%,rgba(230,248,253,0.31) 30%,rgba(200,238,251,0.31) 54%,rgba(190,228,248,0.31) 75%,rgba(177,216,245,0.31) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fe1ffff', endColorstr='#4fb1d8f5',GradientType=0 ); /* IE6-9 */
}

.posto-top{
    background-image: url(img/lifebelt.png);
    background-size: contain;
    position: absolute;
    top: 1px;
    left: 35px;
    height: 40px;
    width: 40px;
    
    -webkit-animation-name: belt;
    -o-animation-name: belt;
    -moz-animation-name: belt;
    -ms-animation-name: belt; 
    animation-name: belt;    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.72, 0, .88, 1);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    
    -webkit-transform: rotate(50deg);
    
    -webkit-filter: hue-rotate(181deg) brightness(1.3); 
    filter: hue-rotate(181deg) brightness(1.3);
}


.posto-bot{
    background-image: url(img/lifebelt.png);
    background-size: contain;
    position: absolute;
    height: 40px;
    width: 40px;
    top:55px;
    left: 35px;
    
        -webkit-animation-name: belt;
    -o-animation-name: belt;
    -moz-animation-name: belt;
    -ms-animation-name: belt; 
    animation-name: belt;    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.72, 0, .88, 1);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    
    -webkit-transform: rotate(-12deg);-webkit-filter: hue-rotate(181deg) brightness(1.3); 
    filter: hue-rotate(181deg) brightness(1.3);
}


.posto-left{
    background-image: url(img/lifebelt.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 28px;
    left: 10px;
    
        -webkit-animation-name: belt;
    -o-animation-name: belt;
    -moz-animation-name: belt;
    -ms-animation-name: belt; 
    animation-name: belt;    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.72, 0, .88, 1);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    
    -webkit-transform: rotate(-36deg);-webkit-filter: hue-rotate(181deg) brightness(1.3); 
    filter: hue-rotate(181deg) brightness(1.3);
}


.posto-right{
    background-image: url(img/lifebelt.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 28px;
    left: 60px;
    
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    
        -webkit-animation-name: belt;
    -o-animation-name: belt;
    -moz-animation-name: belt;
    -ms-animation-name: belt; 
    animation-name: belt;    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.72, 0, .88, 1);
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    
    -webkit-filter: hue-rotate(181deg) brightness(1.3); 
    filter: hue-rotate(181deg) brightness(1.3);
}

.prenotato{
    -webkit-filter: hue-rotate(143deg) brightness(1.3); 
    filter: hue-rotate(143deg) brightness(1.3);
    
}

.locked{
    -webkit-filter: hue-rotate(41deg) brightness(1.3); 
    filter: hue-rotate(41deg) brightness(1.3);
    
}

.taken{
    -webkit-filter: hue-rotate(0deg) brightness(1.1); 
    filter: hue-rotate(0deg) brightness(1.1);
}